<div class="flex justify-between max-h-18">
    
    <select [(ngModel)]="cla" (ngModelChange)="updateFilteredList()"  id="small" class="block w-1/4  p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option *ngFor="let item of Classes" value="{{item.name}}">{{item.name}}</option>
    </select>

<div class="mb-6 w-1/4">
    
    <input type="date" [(ngModel)]="today"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
</div>
<div class="flex flex-col justify-center items-center">
    <p class="text-xl font-normal"> Présence non encore marquée pour la "{{cla}}" le {{today | date}}</p>
    <p class="text-lg font-medium">Veuillez marquer  présence</p>
</div>


<div *ngFor="let classroom of filteredList" class="flex justify-center overflow-x-auto mt-4">
    <table  class="w-92 text-sm text-left text-gray-500">
        <thead class="text-xs  text-black uppercase bg-slate-200 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                  ID	
                </th>
                <th scope="col" class="px-6 py-3">
                Photo
                </th>
                <th scope="col" class="px-6 py-3">
                    NOM D'ÉTUDIANT
                </th>
                <th scope="col" class="px-6 py-3">
                    PÈRE
                </th>
                <th scope="col" class="px-6 py-3">
                Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of classroom.students"  class=" border-b ">
                <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap text-black">
                   {{student.register}}
                </th>
                <td class="px-6 py-4">
                <img class="w-10 h-10 rounded-full" src="assets/images/avatar.png" alt="Rounded avatar"/>
                </td>
                <td class="px-6 py-4">
                    {{student.name}}
                </td>
                <td class="px-6 py-4">
                    {{student.father}}
                </td>
                <td class="px-6 py-4">
                    
<div class="flex">
    <div class="flex items-center mr-4">
        <input [ngModelOptions]="{ standalone: true }"[(ngModel)]="selectedStatus[student._id]" id="{{ 'radio-' + student._id }}" type="radio" value="Present" name="{{ 'radio-group-' + student._id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 "/>
        <label for="{{ 'radio-' + student._id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">P</label>
    </div>
    <div class="flex items-center mr-4">
        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="selectedStatus[student._id]" id="{{ 'radio-2-' + student._id }}" type="radio" value="Late" name="{{ 'radio-group-' + student._id }}" class="w-4 h-4 text-gray-600 bg-gray-100 border-gray-300 focus:ring-gray-500 dark:focus:ring-blue-600 "/>
        <label for="{{ 'radio-2-' + student._id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">L</label>
    </div>
    <div class="flex items-center mr-4">
        <input [ngModelOptions]="{ standalone: true }"  [(ngModel)]="selectedStatus[student._id]" id="{{ 'radio-3-' + student._id }}" type="radio" value="Absent" name="{{ 'radio-group-' + student._id }}" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 "/>
        <label for="{{ 'radio-3-' + student._id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">A</label>
    </div>
    </div>  
        </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="flex items-center justify-center mt-8">
    <button type="button" (click)="onAdd()" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2">
        Enregistrer
      </button>
</div>


